h1{
  font-size:25px;
}
h2{
  font-size:20px;
}
h3{
  font-size:18px;
}
h4{
  font-size:16px;
}
h5{
  font-size: 13px;;
}
.bold{
  font-weight: bold;
}
.display-flex{
    display:flex;
  }
  .justifycontent-center {
    justify-content:center;
  }
  .justifycontent-spacebetween{
   justify-content:space-between;
  }
  .justifycontent-spacearound{
    justify-content:space-around;
  } 
  .wc{
    color:white;
  }
  .wb{
    background-color:#fff;
  }
  .bc{
    color:#000;
  }
  .p-r{
    position:relative;
  }
  .p-a{
     position:absolute;
  }
  .borderradius{
   border-radius: 10px;
  }
  .bg-shade{
    background-color:#EFEFEF;
  }
  .feedbackbox{
    width:50%;
    margin:0px auto;
    border-radius:10px;
  }
  .inputstyle{
    border-radius: 5px;
    padding: 6px 60px;
    margin-right: 50px;
    margin-left: 150px;
    color:#000;
  }
  .box{
    border-radius:10px;
  }
  .delete{
    background-color: red;
    color:#fff;
    border-radius:5px;
    margin-right: 15px;
  }
  .edit{
    background-color: green;
    color: #fff;
  }
  .absolute{
    right:0px;
  }
